.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 600px;

  @include mq(md) {
    padding: 0 80px;
  }
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  object-position: 50% 100%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;

  @include mq(sm) {
    font-size: 3.5rem;
  }

  @include mq(md) {
    font-size: 64px;
    max-width: 80%;
  }
}

.ctaWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  > * {
    display: inline-flex;
    flex: 1 0 auto;
  }
}
