.header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: white;
  transform: translateY(-25px);
  transition: transform $transition-duration;

  &.floating {
    transform: translateY(-25px);
  }

  @include mq(lg) {
    transform: none;
  }
}

.topBar {
  display: flex;
  padding: 0.5rem 0;
  justify-content: flex-end;
}

.todo {
  display: inline-block;
  font-size: 0.75rem;
  color: $primary-light;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  transition: color $transition-duration;
}

.logo {
  margin-bottom: 1rem;

  @include mq(md) {
    margin: 0;
  }
}

.linkList {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
  text-align: left;
}

.linkWrapper {
  // tw="pl-4 first:p-0"
}

.link {
}

.localeSwitch {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.9em;
}

.burgerButton {
  @include mq(lg) {
    display: none;
  }
}

.burgerWrapper {
  position: fixed;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  top: 68px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  z-index: 100;
  overscroll-behavior: contain;
  overflow: auto;
  padding: 5%;
}

.burgerContent {
  display: grid;
  gap: 2rem;
}

.burgerList {
  display: grid;
  gap: 0.5rem;

  > * {
    display: block;
    background-color: rgba(39, 40, 41, 0.07);
  }

  button {
    display: flex !important;
  }
}

.burgerActions {
  display: grid;
  gap: 1rem;

  > * {
    width: 100%;
  }
}

.burgerColumns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.5rem;
  background-color: white;
}
