.wrapper {
  // ...

  @include mq(md) {
    // ...
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0.5rem;
  gap: 0.5rem 2rem;

  @include mq(md) {
    gap: 2rem;

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }
  }
}

.evenGrid {
  composes: grid;

  > * {
    flex: 1;
  }
}

.unevenGrid {
  composes: grid;

  > :first-child {
    flex: 58;
  }

  > :last-child {
    flex: 42;
  }
}

.content {
  display: grid;
  gap: 2rem;
}

.ctaGroup {
  display: flex;
  gap: 0.5rem;
}

.itemWrapper {
  display: grid;
  gap: 2rem;
  font-size: 1.125rem;
}

.itemHeading {
  font-size: 2rem;
  color: $primary-light;
}

.media {
  aspect-ratio: 8 / 6;
}

.form {
  margin-top: 2rem;
  width: 100%;

  @include mq(md) {
    margin-top: 0;
  }
}
