.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include mq(md) {
    gap: 1rem;
    flex-direction: row;
    align-items: stretch;
  }
}

.link {
  display: block;
  min-width: 0;
  flex: 1;

  &:where(a):hover {
    color: $primary-light;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardCenter {
  composes: card;
  align-items: center;
  text-align: center;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 48px;
  height: 48px;
  background-color: $primary-light;
  border-radius: 11px;
}

.icon {
  filter: invert(1);
}

.title {
  font-size: 1.125em;
  font-weight: bold;
}

.body {
  margin: 1rem 0 2rem;
  color: #878993;

  @include mq(lg) {
    margin: 2rem 0;
  }
}

.cta {
  margin-top: auto;
  color: $primary-light;
  font-size: 1.1rem;

  // TODO
  text-transform: uppercase;
}
